.content{
    padding-top:5rem;
   background-color: #FAF8F4;
justify-content: center;
align-items: center;
}
.banner-div{
    top:50%;
}

.carousel{
    /* z-index:100; */
    /* height:100%; */
}

.carousel img{
    height:100%;
    /* width:100%; */
}

.layered-info{
    /* z-index:400; */
    color:black;
}

.card-info{
    /* margin-top:3rem;
    padding:3rem; */
    /* z-index:400; */

}


.card-body{
    display:block !important;
    flex: none  !important;
}

.card.h-100.shadow-lg.border-0.rounded-4.overflow-hidden{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.book-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    margin-bottom:2rem;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
  }
  .book-btn:hover {
    background: #e68900;
  }