.content{
    padding-top:5rem;
   background-color: #FAF8F4;
justify-content: center;
align-items: center;
}
.banner-div{
    top:50%;
}


 /*start styles*/
 .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom:5%;
    
}

.accordion__item {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    overflow: hidden;
}

.accordion__header {
padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.accordion__header::after {
    content: '';
    background: url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat center;
    width: 20px;
    height: 20px;
    transition: .4s;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.accordion__header.active {
    background-color: #ff9c04;
}

.accordion__header.active::after {
    transform: rotateX(180deg);
}

.accordion__item .accordion__content {
    padding: 0 25px;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
    
}


.check-cat{
    text-decoration-color: black;

  }

  .check-cat:hover{
    text-decoration: underline;
    text-decoration-color: black;
  }
    /* footer{
        visibility: hidden;
    }

    .last-section{
        visibility: hidden;
    } */
    .still-q{
        padding:5%;
        width:100%;
        background-color: #ff9c04;
        text-align: center;
    }
    .email{
        color:rgb(207, 207, 207) !important;
        text-decoration: underline !important;
        text-decoration-color: rgba(255, 255, 255, 0.6);
    }
    @media screen and (max-width: 768px){

.still-q{
text-align: left;
}
}
